.mainDiv{
    height: 500px;
    width: 500px;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* flex-wrap: wrap-reverse; */
    /* align-content: space-between; */
 /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    /* align-content: space-around; */
    /* align-items: center;  */
    /* flex-wrap: wrap; */
    /* gap: 10px; */
    /* display: flex;
    flex-direction: column;
    align-items:end; */

    /* flex-wrap: nowrap; */
   
}
.item{
    height: 100px;
    width: 100px;
    background-color: red;
    font-size: 32px;
    color: white;
    border: 1px solid white;
}

/* .item3{
    flex-basis: 200px;
}
.item4{
    /* align-self: center; */
    /*order: -1;
    flex-shrink: 2;
}
.item7{
    order: 5;
}
.item3{
    order: 6;
}
.item6{
    order: -2;
} */