body{
    height: 100vh;
}
/* #box{
    height: 100px;
    width: 100px;
    background-color: red;
    position: relative;
    margin: 0; */
    /* top:calc(100% - 100px);
    left: calc(100% - 100px); */
    /* bottom: 0;
    right: 0;
    padding: 0;
} */

#parent{
    height: 200px;
    width: 200px;
    border: 1px solid red;
}
.box{
   height: 400px;
   width: 100px;
   background-color: red;
   color: white;
   font-size:36px;
   border: 1px solid white;

}
/* .box1{
    position: absolute;
    z-index: 3;
}
.box2{
  position: absolute;
  z-index: 2;
} */
 /* .box3{
    position: fixed;
    height: 200px;
    background-color: blue;
    top: 0;
    width: 100vw;
 } */
  .box1{
    height: 100px;
    background-color: blue;
    position: sticky;
        top: 0px;
       left: 0px;
  }





