/* body{
    height: 100vh;
    /* background:radial-gradient(orange,white,green,orange,white,green,orange,white,green,orange,white,green,orange,white,green,orange,white,green,orange,white,green,orange,white,green) */
/*background-image: url('./4_Image.jpg');
background-color: rgba(0, 0, 0, 0.7);
background-repeat:no-repeat;
background-position: top center;
background-size: cover;
    color: white; 
} */
@import url('https://fonts.googleapis.com/css2?family=Bokor&display=swa');

body{
    background-image: url('https://t3.ftcdn.net/jpg/05/84/65/40/360_F_584654097_iC7ONoJ9Z4V7DCO23Y3dy3aq1Idofegu.jpg');
    background-repeat: no-repeat;
    font-family: "Bokor", system-ui;
  font-weight: 400;
  font-style: oblique;
  font-size: 10px;
   text-align: center;
   text-decoration:wavy;
   text-decoration-line: underline;
   text-transform: uppercase;
   text-shadow: 5px 5px rgb(255, 255, 255);
   text-decoration-color:rgb(255, 0, 0) ;
    background-position: center center;
    color: rgb(249, 0, 0);
    background-size: cover;
    height: 100vh;

}
/* px,em,rem,vh,vw,%*/
.box{
    background-color: aqua;
    height: 2.5rem; /* 1 em = 1 time of parent font size
    1 rem = 16px */
    width: 50%;
}








