/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 500px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 100px 200px;
    /* align-items: end; */
    /* place-items: center; */
    /* gap: 10px; */
/*}
.box{
    /* height: 100px;
    width: 100px; */
    /*background-color: red;
    color: white;
    font-size: 32px;
    border: 1px solid white;
}
.box1{
    grid-column-start:1;
    grid-column-end:3
}
.box2{
    grid-column-start:3;
    grid-column-end:5
}
.box3{
    grid-column-start:1 ;
      grid-column-end:5 ;
}
.box4{
    grid-row-start:3;
    grid-row-end:5
}
.box8{
    grid-column: 2/5;
} */






.container{
   display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
}
.box{
    background-color: green;
    border: 1px solid black;
}
.box1{
    grid-row:1/4;
    grid-column: 1/2;
}
.box2{
    grid-column:2/4;
    grid-row: 1/2;
}
.box3{
    grid-column: 4/5;
    grid-row: 1/2;
}
.box4{
    grid-column: 2/3;
    grid-row: 2/3;
}
.box5{
    grid-column: 3/4;
    grid-row: 2/3;
}
.box6{
    grid-column: 4/5;
    grid-row: 2/4;
}
.box3,.box5,.box7{
    background-color: red;
}
.box4,.box8{
    background-color: yellow;
}






