body{
    background-color: #333;
}
.parent{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width:80vw;
    height: 100vh;
    gap: 20px;
    padding: 50px;
}
.child{
    background-color: green;
}
/* old pcs/basic laptops*/
@media (min-width:769px) and (max-width:1279px) {
    body{
        background-color: rgb(17, 0, 128);
    }
    .parent{
        grid-template-columns: repeat(3,1fr);
    }
}
/* tablets*/
@media (min-width:481px) and (max-width:768px){
    body{
        background-color: red;
    }
    .parent{
        grid-template-columns: repeat(2,1fr);
    }
}
/* mobile phones */
@media (max-width:480px){
    body{
        background-color: white
    }
    .parent{
        grid-template-columns: repeat(1,1fr);
    }
}
